body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 50px;
} 

h2 { 
    font-weight: 300;
    font-size: 42px;
}

.cta { 
    color: aquamarine;
    font-size: 16px;
}

.footer {
         text-align: right;
         color: gray;
}

.mid {
    font-size: 21pxcd;
}