body {
    background-color: black;
    text-align: center;
}

h1 {
    font: verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
} 

h2 { 
    font: verdana;
    font-weight: 300;
    font-size: 42px;
}

.cta { 
    color: aquamarine;
    font-size: 16px;
}

.app {
    
}

.footer {
         text-align: right;
         color: gray;
}
